body {
    background-image: url("./images/Ry.png");
    background-size: cover;
    background-position: center;
  }

  .App {
    
    background-size: cover;
    background-position: center;
    height: 400px;
  }
  